* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
}
/* Todo List */
#todo-list {
  background-color: hsl(5.45deg 15.07% 14.31%);
  width: 516px;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0;
}
/* Title */
#todo-list .title {
    margin-top: 10px;
}

/* Form */
form .new-todo{
    margin: 20px 0;
}
#new-todo{
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
form .new-todo .add-btn {
    padding: 12px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: hsl(220.4deg 82.11% 51.76%);
    color: #000;
    cursor: pointer;
}
form .new-todo .add-btn:hover {
    background-color: #fff;
    color: #000;
}
form .task-list {
    margin: 20px 0;
    
}
form .task-list .task-item{
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 90%;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 5px;
    
}
form .task-list .task-item .right a {
    margin: 0 5px;
    text-decoration: none;
    color: red;
}

form .task-list .task-item .right a:hover {
    color: #fff;
}
/* Line  */
#todo-list .line {
    width: 80%;
    height: 3px;
    background-color: hsl(220.4deg 82.11% 51.76%);
    margin: 20px auto;
}